html {
	background-image: url(../images/sky.jpeg);
	/*background-image: url(../images/forest.jpeg);*/
	/*background-color: #424242;*/
	background-color: #212121;
	color: white;
	/*text-align: center;*/
	text-shadow:   
	-1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    background-size: cover;
    background-attachment: fixed;
}

.list{
	list-style-type: none;
	text-decoration: none;
	
}
md-content.md-default-theme, md-content{
	color: white;
	background-color: transparent;
}
.me{
	height:20vw;
}
.img {
	/*width: 70vw;*/
	height: 40vw;
	max-width: 70vw;
}
.header{
	text-align: center;

}
.vid{
	height:40vw;
	width:100vw;
}